@media (min-width: 768px) {
    #gradientBackground {
        top: -32rem;
    }

    #contentWrapper {
        height: 90vh;
    }

    .custom-divide-x>div:nth-child(even) {
        --tw-divide-x-reverse: 0;
        border-right-width: calc(1px * var(--tw-divide-x-reverse));
        border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
    }
}

@media (max-width: 768px) {
    #customLabelModal-fill {
        display: none !important;
    }

    #customLabelModal-content {
        margin-bottom: 0.75rem;
    }
}

html,
body {
    scroll-behavior: smooth;
}

input,
select {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

select {
    height: 36px;
}

.scroll::-webkit-scrollbar {
    display: none !important;
}

.scroll {
    scrollbar-width: none;
}